# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
.venv/
venv/

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local env & secrets
.env
rc_cloud/credentials.json
credentials.json

# Bytecode caches
.pytest_cache/
.mypy_cache/
